plugin: aws_ec2
strict: False
regions:
  - "{{ ec2_region }}"
filters:
  tag:Environment: "{{ ec2_vpc_name }}"
hostnames:
  - tag:Name
  - dns-name
  - public-ip-address
keyed_groups:
  - key: tags.Platform
    separator: ''
  - key: tags.Environment
    separator: ''
  - key: placement.region
    separator: ''
compose:
  ansible_host: public_ip_address
