---
{{ ansible_managed | comment }}
all:
  hosts:
{% for host in ansible_play_hosts %}
    {{ host }}:
      ansible_host: "{{ hostvars[host].ansible_host }}"
{%    if hostvars[host].ansible_gather_facts is defined %}
      ansible_gather_facts: "{{ hostvars[host].ansible_gather_facts }}"
{%    endif %}
{%    if hostvars[host].ansible_port is defined %}
      ansible_port: "{{ hostvars[host].ansible_port }}"
{%    endif %}
{%    if hostvars[host].ansible_become_user is defined %}
      ansible_become_user: "{{ hostvars[host].ansible_become_user }}"
{%    endif %}
{%    if hostvars[host].ansible_become_method is defined %}
      ansible_become_method: "{{ hostvars[host].ansible_become_method }}"
{%    endif %}
{%    if hostvars[host].ansible_become is defined %}
      ansible_become: "{{ hostvars[host].ansible_become }}"
{%    endif %}
{%    if hostvars[host].ansible_winrm_server_cert_validation is defined %}
      ansible_winrm_server_cert_validation: "{{ hostvars[host].ansible_winrm_server_cert_validation }}"
{%    endif %}
{%    if hostvars[host].ansible_winrm_scheme is defined %}
      ansible_winrm_scheme: "{{ hostvars[host].ansible_winrm_scheme }}"
{%    endif %}
{%    if hostvars[host].ansible_winrm_transport is defined %}
      ansible_winrm_transport: "{{ hostvars[host].ansible_winrm_transport }}"
{%    endif %}
{%    if hostvars[host].ansible_network_os is defined %}
      ansible_network_os: "{{ hostvars[host].ansible_network_os }}"
{%    endif %}
{%    if hostvars[host].ansible_user is defined %}
      ansible_user: "{{ hostvars[host].ansible_user }}"
{%    endif %}
{%    if hostvars[host].ansible_connection is defined %}
      ansible_connection: "{{ hostvars[host].ansible_connection }}"
{%    endif %}
{%    if hostvars[host].ansible_provider is defined %}
      ansible_provider: "{{ hostvars[host].ansible_provider }}"
{%    endif %}
{% endfor %}
  children:
{% for group in groups.keys() %}
{%  if (groups[group] | length) %}
{%    if (group != 'all') and (group != 'ungrouped') %}
    {{ group }}:
{%      set hosts_in_group=( ansible_play_hosts | intersect(groups[group])) %}
{%      if hosts_in_group | length %}
      hosts:
{%        for host_in_group in hosts_in_group %}
        {{ host_in_group }}:
{%        endfor %}
{%      endif %}
{%    endif %}
{%  endif %}
{% endfor %}